<header>
  <div id="logo">
    <img src="assets/logo/smartera-siyah-zemin.png" height="55" alt="smartera logo" />
  </div>
  <nav>
    <ul class="menu">
      <li routerLink="/" class="menu-item">
        <a routerLinkActive="menu-link-active" [routerLinkActiveOptions]="{ exact: true }" class="menu-link">Home</a>
      </li>
      <li routerLink="/list" class="menu-item">
        <a routerLinkActive="menu-link-active" [routerLinkActiveOptions]="{ exact: true }" class="menu-link">Application List</a>
      </li>
      <li routerLink="/form" class="menu-item">
        <a routerLinkActive="menu-link-active" [routerLinkActiveOptions]="{ exact: true }" class="menu-link">&plus; Apply Now</a>
      </li>
    </ul>
  </nav>
</header>
